<div id="{{ data.uid }}" class="apparatus_control_box">
    <div class="apparatus_control_box_name">Apparatus Control</div>
    <label for="{{ data.uid }}_apparatus_selector">Select Apparatus Config:</label>
    <select id="{{ data.uid }}_apparatus_selector" name="apparatuses">
        {% for apparatus in data.apparatuses %}
            <option value="{{ apparatus }}">{{ apparatus }}</option>
        {% endfor %}
    </select>
    <button onclick="set_apparatus()" id="{{ data.uid }}_set">Load</button>
    <button onclick="edit_apparatus()" id="{{ data.uid }}_duplicate">Edit</button>
    <button onclick="new_apparatus()" id="{{ data.uid }}_estop">New</button>